{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post2s list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post2 in post2s %}
            <tr>
                <td><a href="{{ path('post2_show', { 'id': post2.id }) }}">{{ post2.id }}</a></td>
                <td>{{ post2.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post2_show', { 'id': post2.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post2_edit', { 'id': post2.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post2_new') }}">Create a new post2</a>
        </li>
    </ul>
{% endblock %}
